import React from 'react'
import { <%=propsName%> } from './types'
import styles from './<%=cssFileName%>'

function <%=componentName%>(_props: <%=propsName%>) {
  return <div className={styles.<%=mainClassName%>}>This is as <%=componentName%> stub</div>
}

export default <%=componentName%>
