import React from 'react'
import { <%=propsName=%> } from './types'
import styles from './<%=cssFileName=%>'

function <%=componentName=%>({}: <%=propsName=%>) {
  return <div className={styles.<%=mainClassName=%>}></div>
}

export default <%=componentName=%>
